# **Theory questions**

#1) What are data structures, and why are they important?
Ans)
* Data structures are ways of organizing and storing data in a computer.
* They help in efficient access, modification, and storage of data.
* Examples include arrays, linked lists, stacks, queues, trees, and graphs.
* They are important because they optimize algorithms and improve performance.

# 2) Explain the difference between mutable and immutable data types with examples?
Ans)
* Mutable data types can be changed after creation (e.g., list, dict, set).
* Immutable data types cannot be changed after creation (e.g., int, str, tuple).
* Example: list1.append(5) changes the list (mutable).
* Example: "hello".replace("h","y") creates a new string (immutable).

#3) What are the main differences between lists and tuples in Python?
Ans)
* Mutability: Lists are mutable, Tuples are immutable.
* Syntax: Lists use [], Tuples use ().
* Performance: Tuples are faster and use less memory than lists.
* Use case: Lists for dynamic data, Tuples for fixed/constant data

#4) Describe how dictionaries store data?

Ans)
* Dictionaries store data as key-value pairs.
* They use a hashing mechanism to map keys to memory locations.
* Keys must be unique and immutable, values can be any type.
* Access, insertion, and deletion are generally O(1) operations.

#5) Why might you use a set instead of a list in Python?
Ans)
* we use a set when you want unique elements and don't care about order.
* Sets are also faster than lists for checking if an item exists.

#6) What is a string in Python, and how is it different from a list?
Ans)
* A string in Python is a sequence of characters inside quotes ("hello").
* It is immutable (cannot be changed).
* A list is a collection of items (numbers, strings, etc.) and is mutable.
* Strings store text, lists store mixed or multiple data types.

#7) How do tuples ensure data integrity in Python?
Ans)
* Tuples are immutable, meaning once created their values cannot be changed.
* This prevents accidental modification of data.
* They are often used for fixed collections of items.
* This immutability helps ensure data integrity and safety.

#8) What is a hash table, and how does it relate to dictionaries in Python?
Ans)
* A hash table stores data in key-value pairs using a hash function.
* The hash function maps keys to specific memory locations.
* Python dictionaries are built on hash tables.
* This makes lookups, insertions, and deletions very fast.

#9) Can lists contain different data types in Python?
Ans)
* Yes, lists can contain different data types in Python.
Example: [1, "hello", 3.5, True] is valid.
* You can mix numbers, strings, booleans, and even other lists.

#10) Explain why strings are immutable in Python?
Ans)
* Strings are immutable in Python to ensure data safety and consistency.
* Changing a string would require creating a new memory location anyway.
* Immutability allows hashing, making strings usable as dictionary keys.
* It also improves performance and memory efficiency.

#11) What advantages do dictionaries offer over lists for certain tasks?
Ans)
* Dictionaries allow fast lookup by key instead of searching through all items.
* They store data as key-value pairs, which is more meaningful than index-based access.
* Insertion and deletion are generally faster than lists.
* Useful when you need associative or labeled data storage.

#12) Describe a scenario where using a tuple would be preferable over a list?
Ans)
* Use a tuple when the data should not change, like coordinates (x, y) or RGB color (255, 0, 0).
* Tuples are faster and use less memory than lists.
* They can be used as dictionary keys because they are immutable.
* Good for fixed configuration or constant values.

#13) How do sets handle duplicate values in Python?
Ans)
* Sets automatically remove duplicate values.
* Only unique elements are stored.
* Example: set([1,2,2,3]) becomes {1, 2, 3}.
* Duplicates are ignored without errors.

#14)  How does the “in” keyword work differently for lists and dictionaries?
Ans)
* For lists, in checks if a value exists in the list.
* For dictionaries, in checks if a key exists, not the value.
* Example: 3 in [1,2,3] → True; 'a' in {'a':1} → True.
* Checking values in a dict requires .values().

#15) Can you modify the elements of a tuple? Explain why or why not?
Ans)
* No, you cannot modify elements of a tuple.
* Tuples are immutable, so their content cannot be changed after creation.
* This ensures data safety and consistency.
* To change data, you must create a new tuple.

#16) What is a nested dictionary, and give an example of its use case?
Ans)
* A nested dictionary is a dictionary that contains another dictionary as a value.
* Example: students = {"Alice": {"age": 20, "grade": "A"}, "Bob": {"age": 22, "grade": "B"}}
* Use case: Storing complex structured data, like user profiles or JSON-like data.

#17) Describe the time complexity of accessing elements in a dictionary?
Ans)
* Accessing elements in a dictionary is O(1) on average.
* This is because dictionaries use hash tables to directly locate keys.
* In rare cases of hash collisions, it can degrade to O(n).
* Overall, lookups are much faster than searching in a list.

#18) In what situations are lists preferred over dictionaries?
Ans)
* Lists are preferred when order matters or you need indexed access.
* Useful for sequential data like queues, stacks, or arrays.
* Better when keys are not needed and you just need to store items.
* Example: storing daily temperatures or a series of numbers.

#19) Why are dictionaries considered unordered, and how does that affect data retrieval?
Ans)
* Dictionaries are considered unordered because items are stored by hash, not by position (Python 3.7+ preserves insertion order, but conceptually unordered).
* You cannot rely on index to access items.
* Data retrieval is done via keys, not positions.
* This allows fast lookups regardless of insertion order.

#18) Explain the difference between a list and a dictionary in terms of data retrieval
Ans)
* Lists retrieve data by index, e.g., mylist[0].
* Dictionaries retrieve data by key, e.g., mydict["name"].
* List access is O(1) for index, but searching by value is slower O(n).
* Dictionary access is generally O(1) using keys, faster for lookups.

#**Practical questions**

In [1]:
# 1) Write a code to create a string with your name and print it?
name = "Yaswanth Reddt"
print(name)

Yaswanth Reddt

In [2]:
# 2) Write a code to find the length of the string "Hello World"?
string = "Hello World"
print(len(string))

11

In [3]:
# 3) Write a code to slice the first 3 characters from the string "Python Programming"?
string = "Python Programming"
print(string[:3])

Pyt

In [4]:
# 4) Write a code to convert the string "hello" to uppercase?
string = "hello"
upper_case_string = string.upper()
print(upper_case_string)

HELLO

In [5]:
# 5) Write a code to replace the word "apple" with "orange" in the string "I like apple"?
string = "I like apple"
new_string = string.replace("apple", "orange")
print(new_string)

I like orange

In [6]:
# 6)  Write a code to create a list with numbers 1 to 5 and print it?
list = [1, 2, 3, 4, 5]
print(list)

[1, 2, 3, 4, 5]

In [7]:
# 7) Write a code to append the number 10 to the list [1, 2, 3, 4]?
list1 = [1,2,3,4]
list1.append(10)
print(list1)

[1, 2, 3, 4, 10]

In [8]:
# 8)  Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]?
list2 = [1, 2, 3, 4, 5]
list2.remove(3)
list2

[1, 2, 4, 5]

In [9]:
# 9) Write a code to access the second element in the list ['a', 'b', 'c', 'd']?
list3 = ['a', 'b', 'c', 'd']
list3[1] #indexing starts from zero so the second element will at index number 1

'b'

In [10]:
# 10) Write a code to reverse the list [10, 20, 30, 40, 50]?
list4 = [10, 20, 30, 40, 50]
reversed_list = list4[::-1]
print(reversed_list)

[50, 40, 30, 20, 10]

In [11]:
# 11) Write a code to create a tuple with the elements 100, 200, 300 and print it.
tuple1 = (100, 200, 300)
print(tuple1)

(100, 200, 300)

In [12]:
# 12) Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').
tuple2 = ('red', 'green', 'blue', 'yellow')
tuple2[-2]

'blue'

In [13]:
# 13)  Write a code to find the minimum number in the tuple (10, 20, 5, 15).
tuple3 = (10, 20, 5, 15)
min(tuple3)

5

In [14]:
# 14) Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
tuple4 = ('dog', 'cat', 'rabbit')
tuple4.index('cat')

1

In [15]:
# 15) Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.
tuple5 = ("Mango", "apple", "kiwi")
present = -1
for fruit in tuple5:
  if fruit == "kiwi":
    present = present + 1
    print("kiwi is in the tuple")
  else:
    continue

if present < 0:
  print("kiwi is not in the tuple")

kiwi is in the tuple

In [16]:
# 16)  Write a code to create a set with the elements 'a', 'b', 'c' and print it
set1 = {'a', 'b', 'c'}
print(set1)

{'a', 'b', 'c'}

In [17]:
# 17) Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
set2 = {1, 2, 3, 4, 5}
set2.clear()
set2

set()

In [18]:
# 18) Write a code to remove the element 4 from the set {1, 2, 3, 4}
set3 = {1, 2, 3, 4}
set3.remove(4)
set3

{1, 2, 3}

In [19]:
#19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}?
set4 = {1, 2, 3}
set5 = {3, 4, 5}
set4.union(set5)

{1, 2, 3, 4, 5}

In [20]:
#20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
set6 = {1, 2, 3}
set7 = {2, 3, 4}
set6.intersection(set7)

{2, 3}

In [21]:
#21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it?
dict = {"name": "Yaswanth", "age": 21, "city": "Hyderabad"}
print(dict)

{'name': 'Yaswanth', 'age': 21, 'city': 'Hyderabad'}

In [22]:
#22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.
dict1 = {'name':'John', 'age':25}
dict1['country'] = "USA"
dict1

{'name': 'John', 'age': 25, 'country': 'USA'}

In [23]:
#23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.
dict2 = {'name': 'Alice', 'age' : 30}
dict2['name']

'Alice'

In [24]:
#24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}
dict3 = {'name': 'Bob', 'age': 22, 'city': 'New York'}
dict3.pop('age')
dict3

{'name': 'Bob', 'city': 'New York'}

In [25]:
#25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.
dict4 = {'name': 'Alice', 'city': 'Paris'}
if 'city' in dict4:
  print("city is present")
else:
  print("city is not present")

city is present

In [26]:
#26. Write a code to create a list, a tuple, and a dictionary, and print them all.
list1 = [1, "yaswanth", 34.2, True]
tuple1 = (1, "yaswanth", 34.2, True)
dict1 = {"name": "yaswanth", "age": 21}
print(list1)
print(tuple1)
print(dict1)

[1, 'yaswanth', 34.2, True]
(1, 'yaswanth', 34.2, True)
{'name': 'yaswanth', 'age': 21}

In [27]:
#27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)
import random
list1 = [random.randint(1, 100) for i in range(5)]
list1.sort()
print(list1)

[2, 24, 26, 63, 64]

In [28]:
#28. Write a code to create a list with strings and print the element at the third index
list2 = ["yaswanth", "Reddy", "Juturu", "Hyderbad", "India"]
list2[3]

'Hyderbad'

In [29]:
#29. Write a code to combine two dictionaries into one and print the result.
dict1 = {"name": "yaswanth", "age": 21}
dict2 = {"city": "Hyderabad", "country": "India"}
dict1.update(dict2)
dict1

{'name': 'yaswanth', 'age': 21, 'city': 'Hyderabad', 'country': 'India'}

In [30]:
#30. Write a code to convert a list of strings into a set
list1 = ["yaswanth", "Reddy", "Juturu", "Hyderbad", "India"]
set1 = set(list1)
set1

{'Hyderbad', 'India', 'Juturu', 'Reddy', 'yaswanth'}